# hypothesis testing

In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('IMDB_Movie_Database.csv')

In [68]:
df1=np.random.choice(df['Budget'],30)
df2=np.random.choice(df['Budget'],30)

In [69]:
np.mean(df['Budget'])

44366923.28832215

In [70]:
ttest,p_value=stats.ttest_1samp(a=df1,popmean=np.mean(df['Budget']))

In [71]:
if p_value<=0.05:
   print('reject null hypothesis')
else:
    print('accept null hypothesis')

accept null hypothesis

In [72]:
ttest,p_vale=stats.ttest_ind(a=df1,b=df2,equal_var=False)

In [73]:
p_vale

0.2853112441088946

In [74]:
if p_vale<=0.05:
   print('reject null hypothesis')
else:
    print('accept null hypothesis')

accept null hypothesis

In [75]:
ttest,p_val=stats.ttest_rel(a=df1,b=df2)

In [76]:
p_val

0.30452764352641953

## chi-square test

In [77]:
df3=pd.crosstab(df["Color/B&W"],df["Genre"])

In [78]:
exp_value=df3.values

In [79]:
val=stats.chi2_contingency(df3)

In [80]:
p_v=val[1]

In [81]:
p_v

1.2619888635077966e-05

In [82]:
if p_v<=0.05:
   print('reject null hypothesis')
else:
    print('accept null hypothesis')

reject null hypothesis

## ANOVA

In [85]:
df4=df[["Genre","Budget"]]

In [110]:
genre=pd.unique(df4.Genre.values)

In [111]:
genre

array(['Crime', 'Drama', 'Musical', 'Comedy', 'Animation', 'Adventure',
       'Biography', 'Action', 'Horror', 'Western', 'Documentary',
       'Mystery', 'Fantasy', 'Sci-Fi', 'Family', 'Thriller', 'Romance'],
      dtype=object)

In [114]:
an_df={gen:df4['Budget'][df4.Genre==gen] for gen in genre}

In [117]:
stats.f_oneway(an_df['Crime'],an_df['Drama'])

F_onewayResult(statistic=1.1736110438774578, pvalue=0.27894372826380354)

In [119]:
g=pd.unique(df4['Genre'])

In [120]:
g

array(['Crime', 'Drama', 'Musical', 'Comedy', 'Animation', 'Adventure',
       'Biography', 'Action', 'Horror', 'Western', 'Documentary',
       'Mystery', 'Fantasy', 'Sci-Fi', 'Family', 'Thriller', 'Romance'],
      dtype=object)

In [121]:
an={ge:df4['Budget'][df4['Genre']==ge] for ge in g}

In [3]:
df.describe()

,Lead Actor FB Likes,Cast FB Likes,Director FB Likes,Movie FB Likes,IMDb Score (1-10),Total Reviews,Duration (min),Gross Revenue,Budget
count,3722.000000,3725.000000,3725.000000,3725.000000,3725.000000,3724.000000,3724.000000,3.725000e+03,3.725000e+03
mean,7464.728103,11050.561611,793.286443,8614.911678,6.463732,159.881042,109.774705,4.972798e+07,4.436692e+07
std,15532.581521,18958.306272,3055.021574,20792.133048,1.058898,122.419180,22.849153,6.818220e+07,2.268511e+08
min,0.000000,0.000000,0.000000,0.000000,1.600000,1.000000,34.000000,1.620000e+02,2.180000e+02
25%,713.000000,1784.000000,10.000000,0.000000,5.900000,71.000000,95.000000,6.409206e+06,9.000000e+06
50%,1000.000000,3785.000000,58.000000,171.000000,6.600000,131.000000,105.000000,2.683000e+07,2.350000e+07
75%,12000.000000,15716.000000,221.000000,10000.000000,7.200000,217.000000,120.000000,6.445932e+07,5.000000e+07
max,640000.000000,656730.000000,23000.000000,349000.000000,9.300000,813.000000,330.000000,7.605058e+08,1.221550e+10

In [7]:
np.median(df['Budget'])

23500000.0

In [9]:
np.var(df['Budget'])

5.144759244717508e+16